<link rel='stylesheet' href='index.css' type='text/css' />

<h1 class="results-title">{{total}} results for '{{searchterm}}'</h1>
{{#if error}}
  <em>A passing ghost gives you side-eye. Oh honey.</em>
  <p>{{error}}</p>
{{/if}}
<p>Sorting features here</p>
<ul class="post-list">
  {{#each posts}}
    <li class="result-card">
      <div class="result-card__content">
        <a class="result-card__link" href="./post/{{source.file}}#post-{{source.index}}">
          <h2 class="result-card__title">{{title}}</h2>
          <p class="result-card__preview">{{{match}}}</p>
        </a>
      </div>
      <aside class="result-card__aside">
        <div class="result-card__date">{{{datePosted.html}}}</div>
        <h3 class="result-card__author">{{author}}</h3>
      </aside>
    </li>
  {{/each}}
</ul>
<nav>Pagination to go here</nav>
