<link rel='stylesheet' href='../index.css' type='text/css' />

<section class="wrapper wrapper--thread">

<ul class="post-list">
{{#each posts}}

<li id="post-{{source.index}}">
<article class="thread-post">
  
  {{#if title}}
    <h1 class="thread-post__title">{{title}}</h1>
  {{/if}}

  <aside class="thread-post__aside">
    <div class="thread-post__author">
      <span class="thread-post__author-name">{{author}}</span>
      {{#if byline}}
      | <span class="thread-post__author-byline">{{byline}}</span>
      {{/if}}
      {{#if joinDate}}
      | <span class="thread-post__author-join-date">{{joinDate}}</span>
      {{/if}}
    </div>
    <div class="thread-post__date">{{{datePosted.html}}}</div>
  </aside>

  <div class="thread-post__content">
    <section class="thread-post__content-text">
      {{{content.html}}}
    </section>
    <section class="thread-post__signature">
      {{{signature.html}}}
    </section>
  </div>
</article>
</li>
{{/each}}
</ul>

</section>